* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    margin-bottom: 60px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1.5px solid #787c80;
    border-radius: 15px;
    box-shadow: 0px 3px 30px;
    
    
  }
  .logo img {
    width: 150px;
    height: 120px;
  }
  
  .nav-items ul {
    display: flex;
  }
  
  .nav-items ul li {
    list-style-type: none;
    padding: 35px;
    color: red;
  
    font-size: 20px;
  }
  .red {
    color: #212529;
  }
  .res-card .lorems {
    color: red;
  }
  .res-card {
    width: 200px;
    padding: 3px 3px 6px 3px;
    border: 1px solid #212529;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e9ecef;
  }
  .res-card:hover {
    border: 2px solid red;
    cursor: pointer;
    padding: 2px 2px 3px 2px;
    
  }
  
  .search {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .card-img {
    width: 100%;
    height: 170px;
    border-radius: 5px 5px 0 0;
  }
  .cousine {
    color: rgb(156, 151, 151);
    margin-top: -8px;
  }
  .rating {
    background-color: green;
    width: 38px;
    color: white;
    padding: 3px 4px;
    text-align: center;
    font-size: 9px;
    display: flex;
    gap: 5px;
  }
  .delivery {
    color: rgb(156, 151, 151);
    font-size: 9px;
  }
  .price {
    color: rgb(156, 151, 151);
    font-size: 9px;
  }
  .details {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .res-container{
      display: grid;
      grid-template-columns: repeat(5,223px);
      justify-content: center;
      gap: 30px;
  }

  .filter-btn{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    padding: 3px;
    border-radius: 4px;
    border: 2px solid red;
    cursor: pointer;
  }
  .filter{
    display: flex;
    justify-content: center;  
    gap: 10px;
  }